@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    2020 du finfin<br />
    blzit, QC, G1Q OQP<br />
    514.420.1337<br />
   
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:turn@goose.ca">turn@goose.ca</a><br />
    <strong>Marketing:</strong> <a href="mailto:mark@goose.ca">mark@goose.ca</a>
</address>