@{
    ViewBag.Title = "Turngoose Tournament";
}

<div class="jumbotron">
    <h1>Welcome to Turngoose Tournament</h1>
    <p class="lead">Turngoose Tournament is a free tournament framework for building great brackets for great people like yourself.</p>
    <p><a href="~/Tournament/" class="btn btn-primary btn-lg">Create a new tournament now! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About us</h2>
        <p>
            Learn about the minds behind Turngoose.
        </p>
        <p>@Html.ActionLink("About >>", "About", "Home")</p>
    </div>
    <div class="col-md-4">
        <h2>Contact us</h2>
        <p>You can contact us ANYTIME!</p>
        <p>@Html.ActionLink("Contact >>", "Contact", "Home")</p>
    </div>
   
</div>