body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Brackets*/

div.bracket ul {
    float:left;
    clear:right;
    padding:5px;
    list-style-type: none;
}
div.bracket li {

    float:left;
    clear:left;
    padding:3px;
}
div.bracket li.Player {
    background-color:gray;
}
div.bracket li.Blank {
    background-color:white;
}
div.bracket li.U {
    border-top-width:1px;
}
div.bracket li.UL {
    border-left-width:1px;
    border-top-width:1px;
}
div.bracket li.UR {
    border-right-width:1px;
    border-top-width:1px;
}
div.bracket li.D {
    border-bottom-width:1px;
}
div.bracket li.DL {
    border-bottom-width:1px;
    border-left-width:1px;
}
div.bracket li.DR {
    border-bottom-width:1px;
    border-right-width:1px;
}
div.bracket li.L {
    border-left-width:1px;
}
div.bracket li.R {
    border-right-width:1px;
}