body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*tournament setup
#newTournament p{
    text-decoration-color:aliceblue;
    padding:5px;
}
    */
/*Brackets*/

.bracket ul {
    float:left;
    clear:right;
    padding:5px;
    list-style-type: none;
}
.bracket li {

    float:left;
    clear:left;
    padding:3px;
}
.bracket li.player {
    background-color:lightblue;
    border-width:1px;
    border-style:solid;
    border-color:black;
}
.bracket li.blank {
    background-color:white;
}
.bracket li.U {
    border-top-width:1px;
}
.bracket li.UL {
    border-left-width:1px;
    border-top-width:1px;
}
.bracket li.UR {
    border-right-width:1px;
    border-top-width:1px;
}
.bracket li.D {
    border-bottom-width:1px;
}
.bracket li.DL {
    border-bottom-width:1px;
    border-left-width:1px;
}
.bracket li.DR {
    border-bottom-width:1px;
    border-right-width:1px;
}
.bracket li.L {
    border-left-width:1px;
}
.bracket li.R {
    border-right-width:1px;
}