body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*tournament setup
#newTournament p{
    text-decoration-color:aliceblue;
    padding:5px;
}
    */
/*Brackets*/

.bracket ul {
    float:left;
    clear:right;
    padding:0px;
    list-style-type: none;
    border-width:0px;
}
.bracket li {
    width:50px;
    height:20px;
    float:left;
    clear:left;
    
}

.bracket li.player, select.player {
    width:150px;
    background-color:lightblue;
    border-width:1px;
    border-style:solid;
    border-color:black;
}
.bracket li.blank {
    background-color:white;
}
.bracket li.U {
    border-width:0px;
    border-top-width:1px;
    border-style:solid;
    border-color:black;
}
.bracket li.UL {
    border-width:0px;
    border-left-width:1px;
    border-top-width:1px;
    border-style:solid;
    border-color:black;
}
.bracket li.UR {
    border-width:0px;
    border-right-width:1px;
    border-top-width:1px;
    border-style:solid;
    border-color:black;
}
.bracket li.D {
    border-width:0px;
    border-bottom-width:1px;
    border-style:solid;
    border-color:black;
}
.bracket li.DL {
    border-width:0px;
    border-bottom-width:1px;
    border-left-width:1px;
}
.bracket li.DR {
    border-width:0px;
    border-bottom-width:1px;
    border-right-width:1px;
    border-style:solid;
    border-color:black;
}
.bracket li.L {
    border-width:0px;
    border-left-width:1px;
    border-style:solid;
    border-color:black;
}
.bracket li.R {
    border-width:0px;
    border-right-width:1px;
    border-style:solid;
    border-color:black;
}

customLoad{
  background-image: -webkit-linear-gradient(top, #dbdbdb 0%, #e2e2e2 100%);
  background-image:      -o-linear-gradient(top, #dbdbdb 0%, #e2e2e2 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dbdbdb), to(#e2e2e2));
  background-image:         linear-gradient(to bottom, #dbdbdb 0%, #e2e2e2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdbdbdb', endColorstr='#ffe2e2e2', GradientType=0);
  background-repeat: repeat-x;
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, .075);
          box-shadow: inset 0 3px 9px rgba(0, 0, 0, .075);  
}