<div id="newTournament">
    <h2>New Tournament Setup</h2>


    <div style="width:25%; float:left;">
        <p>Tournament Name:</p>
        <p>Administrator name:</p>
        <p>
            Randomize seeds:
            <input id="randSeed" type="checkbox" checked="checked" onclick="randSeed()" />
        </p>
    </div>
    <div style="width:25%; float:left;">
        <input id="txtName" type="text" value="New tournament" />
        <br />
        <input id="txtAdmin" type="text" value="Administrator" />
    </div>
    <div style="width:25%; float:left;">
        <p>Tournament Type:</p>
        <p>Date:</p>
    </div>
    <div style="width:25%; float:left;">
        <select id="tournamentType">
            <option>Single Elimination</option>
            <option>Double Elimination</option>
        </select>
        <br />
        <input id="txtDate" type="text" value="@DateTime.Now.ToShortDateString()" />
    </div>
    <div id="participantsDiv" style="width:100%; float:left;">
        <div id="newParticipant" style="width:50%; float:left;">
            <h3>New Participant</h3>
            <div style="width:50%; float:left;">
                <p>Name:</p>
                <p>Sponsors:</p>
                <p>Team:</p>
                <p>Seed:</p>
            </div>
            <div style="width:50%; float:left;">
                <input id="txtPartName" type="text" /><br />
                <input id="txtPartSponsors" type="text" /><br />
                <input id="txtPartTeam" type="text" /><br />
                <input id="txtPartSeed" type="text" disabled="disabled" /><br />
                <input id="btnAdd" type="button" value="Add Participant" onclick="addParticipant();" style="width:150px;"/><br />
                <input id="btnCreate" type="button" value="Create Tournament" onclick="createTournament();" style="width:150px;" /><br />
            </div>
        </div>
    <div id="participantList" style="width:50%; float:left;">
        <h3>Participants</h3>
    </div>
        
    </div>
    <p>
        
    </p>
</div>
<div class="bracket" id="bracketWinners" style="width:100%; float:left;">
    <h2>Winners Bracket</h2>
    
</div>
<div class="bracket" id="bracketLosers" style="width:100%; float:left;">
    <h2>Losers Bracket</h2>
   
</div>
    <br>

<script src="~/Scripts/jquery-2.1.1.min.js"></script>
<script src="~/Scripts/createTournament.js"></script>
