<div id="newTournament">
    <h2 id="txtTitle">New Tournament Setup</h2>


    <div style="width:25%; float:left;">
        <p>Tournament Name:</p>
        <p>Administrator name:</p>
        <p>
            Randomize seeds:
            <input id="randSeed" type="checkbox" checked="checked" onclick="randSeed()" />
        </p>
    </div>
    <div style="width:25%; float:left;">
        <input id="txtName" type="text" value="New tournament" />
        <br />
        <input id="txtAdmin" type="text" value="Administrator" />
    </div>
    <div style="width:25%; float:left;">
        <p>Tournament Type:</p>
        <p>Date:</p>
    </div>
    <div style="width:25%; float:left;">
        <select id="tournamentType">
            <option>Single Elimination</option>
            <option>Double Elimination</option>
        </select>
        <br />
        <input id="txtDate" type="text" value="@DateTime.Now.ToShortDateString()" />
    </div>
    <div id="participantsDiv" style="width:100%; float:left;">
        <div id="newParticipant" style="width:50%; float:left;">
            <h3>New Participant</h3>
            <div style="width:50%; float:left;">
                <p>Name:</p>
                <p>Sponsors:</p>
                <p>Team:</p>
                <p>Seed:</p>
            </div>
            <div style="width:50%; float:left;">
                <input id="txtPartName" type="text" /><br />
                <input id="txtPartSponsors" type="text" /><br />
                <input id="txtPartTeam" type="text" /><br />
                <input id="txtPartSeed" type="text" disabled="disabled" /><br />
                <input id="btnAdd" type="button" value="Add Participant" onclick="addParticipant();" style="width:150px;"/><br />
                <input id="btnCreate" type="button" value="Create Tournament 4" onclick="createTournament();" style="width:150px;" /><br />
                <input id="btnCreate" type="button" value="Create Tournament 8" onclick="createTournament8();" style="width:150px;" /><br />
            </div>
        </div>
    <div id="participantList" style="width:50%; float:left;">
        <h3>Participants</h3>
    </div>
        
    </div>
    <p>
        
    </p>
</div>
<div class="bracket" id="bracketWinners" style="width:100%; float:left;">
    <h2>Winners Bracket - 4 players example</h2>
    <ul>
        <li>
            <div class="bracket" id="undoDiv" style="float:left;">
                <input id="btnUndo" type="button" value="Undo" style="width:150px;" /><br />
            </div>
        </li>
        <li></li>
        <li></li>
        <li class="player" id="p1">
            MrBomb
        </li>
        <li class="player" id="p2">
            JackStorm
        </li>
        <li></li>
        <li></li>
        <li class="player" id="p3">
            Mawreece
        </li>
        <li class="player" id="p4">
            RenegadePylon
        </li>
        <li></li>
    </ul>
    <ul>
        <li>
            <div class="bracket" id="saveDiv" style="float: left; display: block;">
                <input type="file" id="file1" style="display:none">
                <input id="btnSave" type="button" onclick="saveFile();" value="Save current progress" style="width:150px;" /><br />
            </div>
        </li>
        <li></li>
        <li></li>
        <li class="D"></li>
        <li class="UR"></li>
        <li class="R"></li>
        <li class="R"></li>
        <li class="DR"></li>
        <li class="U"></li>
        <li></li>
    </ul>
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li class="D"></li>
        <li class="U"></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li class="player">
            <select class="player" onchange="addLoser(this, 'l4_1')">
                <option value=""></option>
                <option value="MrBomb">MrBomb</option>
                <option value="JackStorm">JackStorm</option>
            </select> 
        </li>
        <li class="player">
            <select class="player" onchange="addLoser(this, 'l4_2')">
                <option value=""></option>
                <option value="Mawreece">Mawreece</option>
                <option value="RenegadePylon">RenegadePylon</option>
            </select> 
        </li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    
</div>
<div class="bracket" id="bracketWinners8" style="width:100%; float:left;">
    <h2>Winners Bracket - 8 players example</h2>
    <ul>
        <li>
            <div class="bracket" id="undoDiv8" style="float:left;">
                <input id="btnUndo" type="button" value="Undo"  style="width:150px;" /><br />
            </div>
        </li>
        <li></li>
        <li></li>
        <li class="player" id="p1">
            MrBomb
        </li>
        <li class="player" id="p2">
            JackStorm
        </li>
        <li></li>
        <li></li>
        <li class="player" id="p3">
            Mawreece
        </li>
        <li class="player" id="p4">
            RenegadePylon
        </li>
        <li></li>
        <li></li>
        <li class="player" id="p5">
            Muslimshady
        </li>
        <li class="player" id="p6">
            King$Kong
        </li>
        <li></li>
        <li></li>
        <li class="player" id="p7">
            #420blazeit
        </li>
        <li class="player" id="p8">
            %_HDNW_%
        </li>
        <li></li>
    </ul>
    <ul>
        <li>
            <div class="bracket" id="saveDiv8" style="float: left; display: block;">
                <input type="file" id="file1" style="display:none">
                <input id="btnSave" type="button" onclick="saveFile();" value="Save current progress" style="width:150px;" /><br />
            </div>
        </li>
        <li></li>
        <li></li>
        <li class="D"></li>
        <li class="UR"></li>
        <li class="R"></li>
        <li class="R"></li>
        <li class="DR"></li>
        <li class="U"></li>
        <li></li>
        <li></li>
        <li class="D"></li>
        <li class="UR"></li>
        <li class="R"></li>
        <li class="R"></li>
        <li class="DR"></li>
        <li class="U"></li>
        <li></li>
    </ul>
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li class="D"></li>
        <li class="U"></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li class="D"></li>
        <li class="U"></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li class="player">
            <select class="player" onchange="addLoser(this, 'l8_1')">
                <option value=""></option>
                <option value="MrBomb ">MrBomb </option>
                <option value="JackStorm ">JackStorm </option>
            </select> 
        </li>
        <li class="player">
            <select class="player" onchange="addLoser(this, 'l8_2')">
                <option value=""></option>
                <option value="Mawreece">Mawreece</option>
                <option value="RenegadePylon">RenegadePylon</option>
            </select> 
        </li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li class="player">
            <select class="player" onchange="addLoser(this, 'l8_3')">
                <option value=""></option>
                <option value="Muslimshady">Muslimshady</option>
                <option value="King$Kong">King$Kong</option>
            </select> 
        </li>
        <li class="player">
            <select class="player" onchange="addLoser(this, 'l8_4')">
                <option value=""></option>
                <option value="#420blazeit">#420blazeit</option>
                <option value="%_HDNW_%">%_HDNW_%</option>
            </select> 
        </li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li class="D"></li>
        <li class="UR"></li>
        <li class="R"></li>
        <li class="R"></li>
        <li class="R"></li>
        <li class="R"></li>
        <li class="R"></li>
        <li class="R"></li>
        <li class="DR"></li>
        <li class="U"></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li class="D"></li>
        <li class="U"></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li class="player">
            <select class="player" onchange="addLoser(this, 'l8_5')">
                <option value=""></option>
                <option value="MrBomb">MrBomb</option>
                <option value="Mawreece">Mawreece</option>
            </select> 
        </li>
        <li class="player">
            <select class="player" onchange="addLoser(this, 'l8_6')">
                <option value=""></option>
                <option value="Muslimshady">Muslimshady</option>
                <option value="#420blazeit">#420blazeit</option>
            </select> 
        </li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<div class="bracket" id="bracketLosers" style="width:100%; float:left;">
    <h2>Losers Bracket - 4 players example</h2>
    <ul>
        <li></li>
        <li>

        </li>
        <li>

        </li>
        <li></li>
        <li></li>
        <li class="player" id="l4_1">
        </li>
        <li class="player" id="l4_2">
        </li>
        <li></li>
    </ul>
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li class="R"></li>
        <li class="DR"></li>
        <li class="U"></li>
        <li></li>
    </ul>
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li class="D"></li>
        <li class="U"></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li class="player" id="l4_3">
            <select class="player">
                <option value=""></option>
                <option value="MrBomb">MrBomb</option>
                <option value="Mawreece">Mawreece</option>
            </select> 
</li>
        <li class="player">
            <select class="player">
                <option value=""></option>
                <option value="JackStorm">JackStorm</option>
                <option value="RenegadePylon">RenegadePylon</option>
            </select> 
        </li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    
</div>
<div class="bracket" id="bracketLosers8" style="width:100%; float:left;">
    <h2>Losers Bracket - 8 players</h2>
    <ul>
        <li></li>
        <li>
        </li>
        <li>
        </li>
        <li></li>
        <li></li>
        <li class="player" id="l8_1">
        </li>
        <li class="player" id="l8_2">
        </li>
        <li></li>
        <li></li>
        <li class="player" id="l8_3">
        </li>
        <li class="player" id="l8_4">
        </li>
        <li></li>
        <li></li>
        <li>
        </li>
        <li>
        </li>
        <li></li>
    </ul>
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li class="R"></li>
        <li class="DR"></li>
        <li class="U"></li>
        <li></li>
        <li></li>
        <li class="D"></li>
        <li class="UR"></li>
        <li class="R"></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li class="D"></li>
        <li class="U"></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li class="D"></li>
        <li class="U"></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li class="player" id="l8_5">
        </li>
        <li class="player">
            <select class="player">
                <option value=""></option>
                <option value="JackStorm">JackStorm</option>
                <option value="RenegadePylon">RenegadePylon</option>
            </select> 
        </li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li class="player">
            <select class="player">
                <option value=""></option>
                <option value="King$Kong">King$Kong</option>
                <option value="%_HDNW_%">%_HDNW_%</option>
            </select> 
        </li>
        <li class="player" id="l8_6">
        </li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li class="D"></li>
        <li class="UR"></li>
        <li class="R"></li>
        <li class="R"></li>
        <li class="R"></li>
        <li class="R"></li>
        <li class="R"></li>
        <li class="R"></li>
        <li class="DR"></li>
        <li class="U"></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li class="D"></li>
        <li class="U"></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li class="player">
            <select class="player">
                <option value=""></option>
                <option value="Mawreece">Mawreece</option>
                <option value="JackStorm">JackStorm</option>
            </select> 
        </li>
        <li class="player">
            <select class="player">
                <option value=""></option>
                <option value="King$Kong">King$Kong</option>
                <option value="#420blazeit">#420blazeit</option>
            </select> 
        </li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li class="R"></li>
        <li class="DR"></li>
        <li class="U"></li>
    </ul>
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li class="D"></li>
        <li class="U"></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li class="player" id="l8_7">
            <select class="player">
                <option value=""></option>
                <option value="MrBomb">MrBomb</option>
                <option value="Muslimshady">Muslimshady</option>
            </select> 
        </li>
        <li class="player">
            <select class="player">
                <option value=""></option>
                <option value="Mawreece">Mawreece</option>
                <option value="King$Kong">King$Kong</option>
            </select> 
        </li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<div class="playerInformation">
    <h3 id="txtParticipants">Player Information</h3>
</div>
    <br>

<script src="~/Scripts/jquery-2.1.1.min.js"></script>
<script src="~/Scripts/createTournament.js"></script>
