
@{
    ViewBag.Title = "Index";
}


<h2>New Tournament Setup</h2>

    <div>
        <p>Administrator name:</p><input id="txtAdmin" type="text" />
        <p>Tournament Name:</p><input id="txtName" type="text" />
        <p>Date:</p><input id="txtDate" type="text" />
        <div id="calendar">

        </div>
        <p>Tournament Type:</p><select id="Select1">
            <option>Single Elimination</option>
            <option>Double Elimination</option>

        </select>
        <form method="post" action="~/Controllers/TournamentController/AddParticipant">
            <div id="participantsDiv">
                <p>Participants</p>
                <textarea id="participants" style="width:220px; height:200px" rows="20" name="" cols="40"></textarea>
                <div>
                    <p>New Participant</p>
                    Name:<input id="txtPartName" type="text" /> Sponsors:<input id="txtPartSponsors" type="text" /> Team:<input id="txtPartTeam" type="text" /> Seed:<input id="txtPartSeed" type="text" />
                    <input id="btnAdd" type="button" value="Add Participant" onclick="addParticipant();" />
                    
                </div>
            </div>
        </form>
            <p>
                @Html.ActionLink("Generate the Brackets", "Brackets", "Tournament")
            </p>
</div>
<script src="~/Scripts/jquery-2.1.1.min.js"></script>
<script src="~/Scripts/AddParticipant.js"></script>
